<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.seoje1004.subAccount.repository.SubAccountMapper">
	<resultMap type="com.cafe24.seoje1004.subAccount.model.SubAccount" id="subAccountResultMap">
		<id 	property="subAccountCode" 			column="sub_account_code"/>
		<result property="subAccountFlow" 			column="sub_account_flow"/>
		<result property="totalAccountGroup" 		column="total_account_group"/>
		<result property="subAccountPrice" 			column="sub_account_price"/>
		<result property="subAccountRequestDate" 	column="sub_account_request_date"/>
		<result property="subAccountDetail" 		column="sub_account_detail"/>
		<result property="subjectCode" 				column="subject_code"/>
		<result property="subClientCode" 			column="sub_client_code"/>
		<result property="subCode" 					column="sub_code"/>
	</resultMap>
	<!-- 가맹 통합회계 등록 -->
	<insert id="addSubAccount"
		parameterType="com.cafe24.seoje1004.subAccount.model.SubAccount">
		<selectKey resultType="hashmap" keyProperty="subAccountCode" order="BEFORE">
			select if(isnull(sub_account_code),'sub_account_code1000', concat('sub_account_code', MAX(CONVERT(SUBSTRING(sub_account_code,17), UNSIGNED))+1)) as subAccountCode
			from sub_account
		</selectKey>
		
		INSERT INTO sub_account
			(sub_account_code, sub_account_flow, total_account_group, sub_account_price, sub_account_request_date, sub_account_detail, subject_code, sub_code)
		VALUES (#{subAccountCode}, 
			#{subAccountFlow}, 
			#{totalAccountGroup}, 
			#{subAccountPrice}, 
			NOW(), 
			#{subAccountDetail}, 
			#{subjectCode}, 
			#{subCode})
	</insert>
	<!-- 리스트조회 권한 체크 -->
	<select id="subAccountKeeperCheck"
		parameterType="com.cafe24.seoje1004.subStaff.model.SubStaff"
		resultMap="subAccountResultMap">
		SELECT 
			sub_staff_code as subStaffKeeper,
			sub_code as subCode
		FROM
			sub_staff
		WHERE
			sub_staff_code = #{subStaffCode} AND sub_Staff_pw = #{subStaffPw} AND sub_staff_level = '점주' AND sub_code = #{subCode}
	</select>
	<!-- 점주가 회계 마감 -->
	<update id="modifySubAccountCheck"
		parameterType="com.cafe24.seoje1004.subAccount.model.SubAccount">
		UPDATE sub_account
		SET
			sub_account_check = NOW(),
			sub_staff_keeper = #{subStaffKeeper}
		WHERE 
			sub_account_code = #{subAccountCode}
	</update>
	
	<!-- 통합회계리스트 출력 -->
	<select id="viewSubAccountList"
		parameterType="java.util.Map"
		resultMap="subAccountResultMap">
		SELECT sub_account_code, sub_account_flow, total_account_group, sub_account_price, sub_account_request_date, sub_account_detail, subject_code, sub_client_code, sub_code
		FROM sub_account
		<where>
			sub_code = #{subStaff.subCode}
			<if test="subAccountSearch.regitDateStart != null and subAccountSearch.regitDateEnd != null and subAccountSearch.regitDateStart !='' and subAccountSearch.regitDateEnd !=''">
				AND <![CDATA[date(sub_account_request_date) >= #{subAccountSearch.regitDateStart} and date(sub_account_request_date) <= #{subAccountSearch.regitDateEnd}]]>  
			</if>
			<if test="subAccountSearch.searchKey != null and subAccountSearch.searchKey != '' and subAccountSearch.search != null and subAccountSearch.search != ''">
					AND  ${subAccountSearch.searchKey} like CONCAT('%',#{subAccountSearch.search},'%') 
			</if>
			
		</where>
		<if test="subAccountSearch.criteria == null and subAccountSearch.upDown == null">
			order by sub_account_request_date desc
		</if>
		<if test="subAccountSearch.criteria != null and subAccountSearch.upDown != null and subAccountSearch.criteria != null and subAccountSearch.upDown != ''">
			order by ${subAccountSearch.criteria} ${subAccountSearch.upDown}
		</if>
		LIMIT 0,${subAccountSearch.viewMore}
	</select>
	<update id="modifySubAccount"
		parameterType="java.util.Map">
		UPDATE sub_account
		SET
			sub_account_check = NOW(),
			sub_staff_keeper = #{subStaff.subStaffCode}
		WHERE 
			sub_account_code = #{subAccount.subAccountCode}	
	</update>
</mapper>