<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.seoje1004.headItem.repository.HeadItemMapper">
	<resultMap type="com.cafe24.seoje1004.headItem.model.HeadItem" id="headItemResultMap">
		<id property="hItemCode" column="h_item_code"/>
		<result property="hItemName" column="h_item_name"/>
		<result property="hItemQuantity" column="h_item_quantity"/>
		<result property="hItemUnit" column="h_item_unit"/>
		<result property="hItemSellingPrice" column="h_item_selling_price"/>
		<result property="hItemRegitDate" column="h_item_regit_date"/>
		<result property="headStaffId" column="head_staff_id"/>
		<result property="hItemRetailPrice" column="h_item_regit_price"/>
	</resultMap>
	
	<select id="viewHeadItemList"
		parameterType="java.util.Map"
		resultMap="headItemResultMap">
		SELECT h_item_code, 
		h_item_name, 
		h_item_quantity, 
		h_item_unit, 
		h_item_selling_price, 
		h_item_regit_date, 
		head_staff_id, 
		h_item_retail_price
		FROM head_item
		<where>
			<if test="headItemSearch.regitDateStart != null and headItemSearch.regitDateEnd != null and headItemSearch.regitDateStart !='' and headItemSearch.regitDateEnd !=''">
				<![CDATA[date(h_item_regit_date) >= #{headItemSearch.regitDateStart} and date(h_item_regit_date) <= #{headItemSearch.regitDateEnd}]]>  
			</if>
			<if test="headItemSearch.searchKey != null and headItemSearch.searchKey != '' and headItemSearch.search != null and headItemSearch.search != ''">
					AND  ${headItemSearch.searchKey} like CONCAT('%',#{headItemSearch.search},'%') 
			</if>
		</where>
		<if test="headItemSearch.criteria == null and headItemSearch.upDown == null">
			order by h_item_regit_date desc
		</if>
		<if test="headItemSearch.criteria != null and headItemSearch.upDown != null and headItemSearch.criteria != null and headItemSearch.upDown != ''">
			order by ${headItemSearch.criteria} ${headItemSearch.upDown}
		</if>
	</select>
</mapper>