<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.seoje1004.subStock.repository.SubStockMapper">
	
	<!-- SubStock객체등록 -->
	<resultMap type="com.cafe24.seoje1004.subStock.model.SubStock" id="subStockResultMap">
	     <id property="subStockCode" column="sub_stock_code"/>
	     <result property="headStockInDate" column="head_stock_in_date"/>
	     <result property="subStockInDate" column="sub_stock_in_date"/>
	     <result property="subStockOut" column="sub_stock_out"/>
	     <result property="ordersCode" column="orders_code"/>
	     <result property="subCode" column="sub_code"/>
	     <result property="headItemCode" column="head_item_code"/>
	     <result property="specificItemCode" column="specific_item_code"/>
	     <result property="subStaffCode" column="sub_staff_code"/>
	    
   </resultMap>


	<!-- 가맹재고리스트 -->
	<select id="subViewSubStockList"
			parameterType="java.util.Map"
			resultMap="subStockResultMap">
		
		SELECT
			sub_stock_code
			,head_stock_in_date
			,sub_stock_in_date
			,sub_stock_out
			,orders_code
			,sub_code
			,head_item_code
			,specific_item_code
			,sub_staff_code
		FROM
			sub_stock
		<where>
			sub_code = #{subCode}
			<if test="search.regitDateStart != null and search.regitDateEnd != null and search.regitDateStart !='' and search.regitDateEnd !=''">
				AND <![CDATA[date(head_stock_in_date) >= #{search.regitDateStart} and date(head_stock_in_date) <= #{search.regitDateEnd}]]>  
			</if>
			<if test="search.searchKey != null and search.searchKey != '' and search.search != null and search.search != ''">
					AND  ${search.searchKey} like CONCAT('%',#{search.search},'%') 
			</if>
			
		</where>
		
			group by orders_code
		
		<if test="search.criteria == null and search.criteria == '' and search.upDown == null and search.upDown == ''">
			order by head_stock_in_date desc
		</if>
		<if test="search.criteria != null and search.upDown != null and search.criteria != null and search.upDown != ''">
			order by ${search.criteria} ${search.upDown}
		</if>
		
		LIMIT 0,${search.viewMore}
	</select>
	
	<!-- 비어있는 입고날짜를 오늘로 업데이트 -->
	<update id="subWarehousing"
			parameterType="java.lang.String">
		UPDATE
			sub_stock
		SET
			sub_stock_in_date = NOW()
		WHERE
			orders_code = #{ordersCode}	
				
	
	</update>
	
	<!-- 배송테이블의 배송수령여부 컬럼을 Y로 업데이트 -->
	<update id="deliveryReceiveY"
			parameterType="java.lang.String">
		UPDATE
			delivery
		SET
			delivery_receive = "Y"
		WHERE
			orders_code = #{ordersCode}	
	</update>
	<!-- modifyOrders -->
	<update id="modifyOrders"
			parameterType="java.util.Map">
		UPDATE sub_orders
		SET
			sub_orders_status= #{subOrdersStatus}
		WHERE 
			orders_code = #{ordersCode}
	</update>

</mapper>