<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.seoje1004.cart.repository.CartMapper">
  
	<!-- POJO객체와 DB column명을 맞춰줍니다 -->
	<resultMap type="com.cafe24.seoje1004.cart.model.Cart" id="cartResultMap">
		<id property="cartCode" column="cart_code"/>
		<result property="cartQuantity" column="cart_quantity"/>
		<result property="hItemCode" column="h_item_code"/>
		<result property="subCode" column="sub_code"/>
	</resultMap>
 
	<!-- 가맹직원을 등록하는 inst 쿼리 자동으로 subStaffId를 생성해줌 -->
	<insert id="addCart"
		parameterType="com.cafe24.seoje1004.cart.model.Cart"
		useGeneratedKeys="true"
		keyProperty="cartCode">
	<selectKey resultType="hashmap" keyProperty="cartCode" order="BEFORE">
		select if(isnull(cart_code),'cart_code1000', concat('cart_code', MAX(CONVERT(SUBSTRING(cart_code,10), UNSIGNED))+1)) as cartCode
		from cart
	</selectKey>
      
		INSERT INTO 
			cart(
				cart_code,
				cart_quantity, 
				h_item_code, 
				sub_code
			)
		VALUES (
			#{cartCode},
			#{cartQuantity}, 
			#{hItemCode}, 
			#{subCode}
		)
	</insert>

	<!-- 장바구니 리스트를 컬럼별 조회하는 select쿼리 -->
	<select id="viewCartList"
		parameterType="java.util.Map"
		resultType="com.cafe24.seoje1004.cart.model.CartDetail">
		SELECT 
			c.cart_code cartCode,
			c.cart_quantity cartQuantity,
			c.h_item_code hItemCode,
			h.h_item_name hItemName,
			h.h_item_selling_price hItemSellingPrice,
			c.sub_code subCode
		FROM 
			cart c inner join head_item h
		on
			c.h_item_code = h.h_item_code
		where
			sub_code = #{cartDetail.subCode}
		<if test="cartSearch.criteria == null and cartSearch.upDown == null">
			order by cart_code desc
		</if>
		<if test="cartSearch.criteria != null and cartSearch.upDown != null and cartSearch.criteria != null and cartSearch.upDown != ''">
			order by ${cartSearch.criteria} ${cartSearch.upDown}
		</if>
	
	</select>
	
	<!-- 장바구니 정보를 가져오기 (수정폼으로) -->
	<select id="selectCart"
			parameterType="com.cafe24.seoje1004.cart.model.Cart"
	  		resultMap="cartResultMap">
	    SELECT 
	       cart_code,
	       cart_quantity, 
	       h_item_code, 
	       sub_code         
	    FROM 
	       cart
	    WHERE
	       cart_code = #{cartCode}
	</select>
	
	<!-- 장바구니 수정하기  -->
	<update id="modifyCart"
			parameterType="com.cafe24.seoje1004.cart.model.Cart">
      UPDATE 
         cart
      SET
         cart_quantity= #{cartQuantity}
      WHERE 
         cart_code = #{cartCode}
	</update>
	
	<!-- 장바구니 삭제 -->
	<delete id="deleteCart"
			parameterType="com.cafe24.seoje1004.cart.model.Cart">
		DELETE 
		FROM 
			cart 
		WHERE 
			cart_code=#{cartCode}	
	</delete>
</mapper>