<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.seoje1004.subClient.repository.ClientMapper">
	<resultMap type="com.cafe24.seoje1004.subClient.model.Client" id="subClientResultMap">
      <id property="subClientCode" column="sub_client_code"/>
      <result property="subClientName" column="sub_client_name"/>    
      <result property="subClientRegitDate" column="sub_client_regit_date"/>
      <result property="subClientInCharge" column="sub_client_in_charge"/>
      <result property="subClientContract" column="sub_client_contract"/>
      <result property="subClientPhone" column="sub_client_phone"/>
      <result property="subClientAddr" column="sub_client_addr"/>
      <result property="subCode" column="sub_code"/>
   </resultMap>   
   
   <select id="viewSubClient"
   		resultMap="subClientResultMap"
   		parameterType="java.util.Map">
	select
		sub_client_code,
		sub_client_name,
		sub_client_regit_date,
		sub_client_in_charge,
		sub_client_contract,
		sub_client_phone,
		sub_client_addr,
		sub_code
	from
		sub_client
	<where>
		sub_code = #{subLogin.subCode}
		<if test="clientSearch.regitDateStart != null and clientSearch.regitDateEnd != null and clientSearch.regitDateStart !='' and clientSearch.regitDateEnd !=''">
			AND <![CDATA[date(sub_client_regit_date) >= #{clientSearch.regitDateStart} and date(sub_client_regit_date) <= #{clientSearch.regitDateEnd}]]>
		</if>
		<if test="clientSearch.searchKey != null and clientSearch.searchKey != '' and clientSearch.searchSubClient!= null and clientSearch.searchSubClient != ''">
					AND  ${clientSearch.searchKey} like CONCAT('%',#{clientSearch.searchSubClient},'%') 
		</if>
	</where>
		<if test="clientSearch.criteria == null and clientSearch.upDown == null">
			order by sub_client_regit_date desc
		</if>
		<if test="clientSearch.criteria != null and clientSearch.upDown != null and clientSearch.criteria != null and clientSearch.upDown != ''">
			order by ${clientSearch.criteria} ${clientSearch.upDown}
		</if>
		
   </select>
   
   <select id="selectSubClient"
   		resultMap="subClientResultMap">
	select
		sub_client_code,
		sub_client_name,
		sub_client_regit_date,
		sub_client_in_charge,
		sub_client_contract,
		sub_client_phone,
		sub_client_addr,
		sub_code
	from
		sub_client
	where
		sub_client_code = #{subClientCode}
   </select>
   
   <insert id="insertClient"
   		parameterType="java.util.Map">
   		<selectKey resultType="hashmap" keyProperty="subClientCode" order="BEFORE">
        	select if(isnull(sub_client_code),'sub_client_code1000', concat('sub_client_code', MAX(CONVERT(SUBSTRING(sub_client_code,16), UNSIGNED))+1)) as subClientCode
        	from sub_client
      	</selectKey>
      		INSERT INTO 
      			sub_client (
					sub_client_code, 
					sub_client_name, 
					sub_client_regit_date, 
					sub_client_in_charge, 
					sub_client_phone, 
					sub_client_addr, 
					sub_code
					)
				VALUES (
					#{client.subClientCode},
		 			#{client.subClientName}, 
					 NOW(), 
		 			#{client.subClientInCharge},
		 			#{client.subClientPhone},
		 			#{client.subClientAddr},
		 			#{subLogin.subCode}
		 			)
   </insert>
   
   
   <update id="modifyClient"
   		parameterType="java.util.Map">
   		UPDATE
   			sub_client
		SET
			sub_client_name= #{client.subClientName},
			sub_client_in_charge= #{client.subClientInCharge},
			sub_client_phone= #{client.subClientPhone},
			sub_client_addr= #{client.subClientAddr}
		WHERE
			sub_client_code= #{subClientCode}
   </update>
   
   	<select id="selectClientCode"
		resultType="java.lang.String">
		select if(isnull(sub_client_code),'sub_client_code1000', concat('sub_client_code', MAX(CONVERT(SUBSTRING(sub_client_code,16), UNSIGNED))+1)) as subClientCode
		from sub_client
	</select>
</mapper>