<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.seoje1004.recipe.repository.RecipeMapper">
	 
   <!-- POJO객체와 DB column명을 맞춰줍니다 -->
   <resultMap type="com.cafe24.seoje1004.recipe.model.Recipe" id="RecipeResultMap">
      <id property="recipeCode" column="recipe_code"/>
      <result property="recipeOrder" column="recipe_order"/>
      <result property="recipeAct" column="recipe_act"/>
      <result property="recipeRegitDate" column="recipe_regit_date"/>
      <result property="menuCode" column="menu_code"/>
      <result property="headStaffId" column="head_staff_id"/>
   </resultMap>

   <!-- 레시피 컬럼별 조회하는 select쿼리 -->
	<select id="subViewRecipeList"
	      parameterType="java.util.Map"
	      resultMap="RecipeResultMap">
	      SELECT 
	         recipe_code,
	         recipe_order,
	         recipe_act,
	         recipe_regit_date,
	         menu_code,
	         head_staff_id     
	      FROM 
	         recipe
	      <where>
	      
	         menu_code = #{menuCode}
	         <if test="recipeSearch.regitDateStart != null and recipeSearch.regitDateEnd != null and recipeSearch.regitDateStart !='' and recipeSearch.regitDateEnd !=''">
	            AND <![CDATA[date(recipe_regit_date) >= #{recipeSearch.regitDateStart} and date(recipe_regit_date) <= #{recipeSearch.regitDateEnd}]]>  
	         </if>
	         <if test="recipeSearch.searchKey != null and recipeSearch.searchKey != '' and recipeSearch.searchRecipe != null and recipeSearch.searchRecipe != ''">
	               AND  ${recipeSearch.searchKey} like CONCAT('%',#{recipeSearch.searchRecipe},'%') 
	         </if>
	         
	      </where>
	      <if test="recipeSearch.criteria == null and recipeSearch.upDown == null">
	         order by recipe_regit_date desc
	      </if>
	      <if test="recipeSearch.criteria != null and recipeSearch.upDown != null and recipeSearch.criteria != null and recipeSearch.upDown != ''">
	         order by ${recipeSearch.criteria} ${recipeSearch.upDown}
	      </if>
	
	</select>
</mapper>