<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.seoje1004.subDump.repository.SubDumpMapper">
	<resultMap type="com.cafe24.seoje1004.subDump.model.SubDump" id="subDumpResultMap">
      <id property="subDumpCode" column="sub_dump_code"/>
      <result property="subDumpReason" column="sub_dump_reason"/>    
      <result property="subDumpDate" column="sub_dump_date"/>
      <result property="hItemCode" column="head_item_code"/>
      <result property="specificItemCode" column="specific_item_code"/>
      <result property="subStaffCode" column="sub_staff_code"/>
      <result property="subCode" column="sub_code"/>
   </resultMap>   
   	<!-- 폐기 등록 전 정보를 가져오기 (등록폼으로) -->
	<select id="selectSubDump"
			parameterType="com.cafe24.seoje1004.sub.model.SubLogin"
	  		resultMap="subDumpResultMap">
	    SELECT 
	       head_item_code,
	       specific_item_code, 
	       sub_code 
	    FROM 
	       sub_stock
	    WHERE
	       sub_code = #{subCode} and specific_item_code = 'specific_item_code1' 
	</select>
   <!-- 가맹직원을 등록하는 insert 쿼리 자동으로 subDumpCode를 생성해줌 -->
	<insert id="addSubDump"
		parameterType="java.util.Map"
		useGeneratedKeys="true"
		keyProperty="subDumpCode">
	<selectKey resultType="hashmap" keyProperty="subDumpCode" order="BEFORE">
		select if(isnull(sub_dump_code),'subDump_code1000', concat('sub_dump_code', MAX(CONVERT(SUBSTRING(sub_dump_code,14), UNSIGNED))+1)) as subDumpCode
		from sub_dump
	</selectKey>
      
		INSERT INTO 
			sub_dump(
				sub_dump_code,
				sub_dump_reason,
				sub_dump_date, 
				head_item_code,
				specific_item_code, 
				sub_staff_code,
				sub_code
			)
		VALUES (
				#{subDumpCode},
				#{subDump.subDumpReason},
				NOW(),
				#{subDump.hItemCode},
				#{subDump.specificItemCode},
				#{subDump.subStaffCode},
				#{subDump.subCode}
			)
	</insert>
	<!-- 폐기 리스트를 컬럼별 조회하는 select쿼리 -->
	<select id="viewSubDumpList"
		parameterType="java.util.Map"
		resultMap="subDumpResultMap">
		SELECT 
			sub_dump_code,
			sub_dump_reason,
			sub_dump_date, 
			head_item_code,
			specific_item_code, 
			sub_staff_code,
			sub_code    
		FROM 
			sub_dump
		<if test="subDumpSearch.criteria == null and subDumpSearch.upDown == null">
			order by sub_dump desc
		</if>
		<if test="subDumpSearch.criteria != null and subDumpSearch.upDown != null and subDumpSearch.criteria != null and subDumpSearch.upDown != ''">
			order by ${subDumpSearch.criteria} ${subDumpSearch.upDown}
		</if>
	
	</select>
</mapper>