<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.seoje1004.subStaff.repository.SubStaffMapper">
   
   <!-- POJO객체와 DB column명을 맞춰줍니다 -->
   <resultMap type="com.cafe24.seoje1004.subStaff.model.SubStaff" id="subStaffResultMap">
      <id property="subStaffCode" column="sub_staff_code"/>
      <result property="subStaffPw" column="sub_staff_pw"/>
      <result property="subStaffName" column="sub_staff_name"/>
      <result property="subStaffLevel" column="sub_staff_level"/>
      <result property="subStaffJoin" column="sub_staff_join"/>
      <result property="subStaffResign" column="sub_staff_resign"/>
      <result property="subStaffRegitDate" column="sub_staff_regit_date"/>
      <result property="subStaffSalary" column="sub_staff_salary"/>
      <result property="totalAccountGroup" column="total_account_group"/>
      <result property="subStaffPermitDate" column="sub_staff_permit_date"/>
      <result property="subCode" column="sub_code"/>
      <result property="headStaffId" column="head_staff_id"/>
   </resultMap>
   
   <!-- 가맹직원을 등록하는 inst 쿼리 자동으로 subStaffId를 생성해줌 -->
   <insert id="addSubStaff"
      parameterType="com.cafe24.seoje1004.subStaff.model.SubStaff"
      useGeneratedKeys="true"
      keyProperty="subStaffId">
      <selectKey resultType="hashmap" keyProperty="subStaffCode,totalAccountGroup" order="BEFORE">
         select if(isnull(sub_staff_code),'sub_staff_code1000', concat('sub_staff_code', MAX(CONVERT(SUBSTRING(sub_staff_code,15), UNSIGNED))+1)) as subStaffCode, 
         if(isnull(total_account_group),'total_account_group1000', concat('total_account_group', MAX(CONVERT (SUBSTRING(total_account_group,20), UNSIGNED))+1)) as totalAccountGroup 
         from sub_staff
      </selectKey>
      
	      INSERT INTO 
	      	sub_staff(
	      		total_account_group,
	            sub_code,
	            sub_staff_code, 
	            sub_staff_pw, 
	            sub_staff_name, 
	            sub_staff_level, 
	            sub_staff_join, 
	            sub_staff_regit_date, 
	            sub_staff_salary
	         )
	      VALUES (
	      	 #{totalAccountGroup},
	         #{subCode},
	         #{subStaffCode}, 
	         #{subStaffPw}, 
	         #{subStaffName}, 
	         #{subStaffLevel}, 
	         #{subStaffJoin}, 
	         NOW(), 
	         #{subStaffSalary}
	      )
   </insert>
   
	<select id="selectSubStaff"
		parameterType="com.cafe24.seoje1004.subStaff.model.SubStaff"
		resultMap="subStaffResultMap">
			SELECT 
				sub_staff_code,
				sub_staff_name, 
				sub_code, 
				sub_staff_level,
				sub_staff_join,
				head_staff_id,
				sub_staff_permit_date,
				sub_staff_resign,
				sub_staff_regit_date,
				sub_staff_salary,
				total_account_group        
			FROM 
				sub_staff
			WHERE
				sub_staff_code = #{subStaffCode}
	</select>
	<update id="modifySubStaff"
		parameterType="com.cafe24.seoje1004.subStaff.model.SubStaff">
			UPDATE 
				sub_staff
			SET
				sub_staff_name= #{subStaffName},
				sub_staff_level= #{subStaffLevel},
				sub_staff_salary= #{subStaffSalary}
			WHERE 
				sub_staff_code = #{subStaffCode}
	</update>
   
	<!-- 가맹 직원리스트를 컬럼별 조회하는 select쿼리 -->
	<select id="viewSubStaffList"
		parameterType="java.util.Map"
		resultMap="subStaffResultMap">
		SELECT 
			sub_staff_code,sub_staff_name,sub_code, sub_staff_level,sub_staff_join,sub_staff_resign,head_staff_id,sub_staff_permit_date,sub_staff_regit_date,sub_staff_salary,total_account_group      
		FROM 
			sub_staff
		<where>
			sub_code = #{subLogin.subCode}
			<if test="subStaffSearch.regitDateStart != null and subStaffSearch.regitDateEnd != null and subStaffSearch.regitDateStart !='' and subStaffSearch.regitDateEnd !=''">
				AND <![CDATA[date(sub_staff_regit_date) >= #{subStaffSearch.regitDateStart} and date(sub_staff_regit_date) <= #{subStaffSearch.regitDateEnd}]]>  
			</if>
			<if test="subStaffSearch.searchKey != null and subStaffSearch.searchKey != '' and subStaffSearch.search != null and subStaffSearch.search != ''">
					AND  ${subStaffSearch.searchKey} like CONCAT('%',#{subStaffSearch.searchSubStaff},'%') 
			</if>
			<if test="division == 'employee'">
				AND sub_staff_resign is null
			</if>
			<if test="division == 'retirement'">
				AND sub_staff_resign is not null
			</if>
			
		</where>
		<if test="subStaffSearch.criteria == null and subStaffSearch.criteria == '' and subStaffSearch.upDown == null and subStaffSearch.upDown == ''">
			order by sub_staff_regit_date desc
		</if>
		<if test="subStaffSearch.criteria != null and subStaffSearch.upDown != null and subStaffSearch.criteria != null and subStaffSearch.upDown != ''">
			order by ${subStaffSearch.criteria} ${subStaffSearch.upDown}
		</if>
		LIMIT 0,${subStaffSearch.viewMore}
	
	</select>
		
	<!-- 본사직원이 가맹직원 등록을 승인 하는 update 쿼리 -->
	<update id="headModifySubStaffByPermit"
		parameterType="com.cafe24.seoje1004.subStaff.model.SubStaff">
			UPDATE sub_staff
			SET head_staff_id = #{headStaffId},sub_staff_permit_date = NOW()
			WHERE sub_staff_code = #{subStaffCode}
	</update>
	
	<!-- 가맹직원 퇴사하는 update쿼리 -->
	<update id="subModifySubStaffByResign" 
		parameterType="com.cafe24.seoje1004.subStaff.model.SubStaff">
			UPDATE sub_staff
			SET
				sub_staff_resign = NOW()
			WHERE 
				sub_staff_code = #{subStaffCode}
	</update>
	
	<!-- addSubAccount -->
	<insert id="addSubAccount"
			parameterType="java.util.Map">
		<selectKey resultType="hashmap" keyProperty="subAccountCode" order="BEFORE">
				select if(isnull(sub_account_code),'sub_account_code200', concat('sub_account_code', MAX(CONVERT(SUBSTRING(sub_account_code,17), UNSIGNED))+1)) as subAccountCode
				from sub_account
		</selectKey>
		INSERT INTO sub_account
	(
	sub_account_code, 
	sub_account_flow, 
	total_account_group, 
	sub_account_price, 
	sub_account_request_date, 
	sub_account_detail, 
	subject_code, 
	sub_code
	)
	VALUES 
	(
	#{subAccountCode}, 
	#{subAccount.subAccountFlow}, 
	#{subAccount.totalAccountGroup}, 
	${subAccount.subAccountPrice}, 
	NOW(),
	#{subAccount.subAccountDetail}, 
	#{subAccount.subjectCode}, 
	#{subAccount.subCode}
	)
	</insert>
</mapper>