<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.seoje1004.subSell.repository.SubSellMapper">
	<!-- SubSell객체등록 -->
	<resultMap type="com.cafe24.seoje1004.subSell.model.SubSell" id="subSellResultMap">
	     <id property="subSellCode" column="sub_sell_code"/>
	     <result property="menuCode" column="menu_code"/>
	     <result property="subSellGroup" column="sub_sell_group"/>
	     <result property="subSellDate" column="sub_sell_date"/>
	     <result property="subSellPracticalSellingPrice" column="sub_sell_practical_selling_price"/>
	     <result property="totalAccountGroup" column="total_account_group"/>
	     <result property="subSellFinal" column="sub_sell_final"/>
	     <result property="subSellFinalDate" column="sub_sell_final_date"/>
	     <result property="payMethod" column="pay_method"/>
	     <result property="subCode" column="sub_code"/>
	     <result property="eventCode" column="event_code"/>
	     <result property="subStaffCode" column="sub_staff_code"/>
	     <result property="subSellFinalStaff" column="sub_sell_final_staff"/>
	     <result property="subSellCost" column="sub_sell_cost"/>
   	</resultMap>
	<select id="menuChart"
			resultType="com.cafe24.seoje1004.util.Chart">
		SELECT
			m.menu_name as menuName,
			count(*) as counts
		FROM
			menu m
			inner join 
			sub_sell s

		ON m.menu_code = s.menu_code

		GROUP BY m.menu_name 

		ORDER BY counts desc
		LIMIT 0,5
	</select>
	<!-- 가맹 판매 조회[승인처리리스트] -->
	<select id ="subViewSubSellList"
			parameterType="java.util.Map"
			resultMap="subSellResultMap">
		SELECT
			sub_sell_code
			,menu_code
			,sub_sell_group
			,sub_sell_date
			,sub_sell_practical_selling_price
			,total_account_group
			,sub_sell_final
			,sub_sell_final_date
			,pay_method
			,sub_code
			,event_code
			,sub_staff_code
			,sub_sell_final_staff
			,sub_sell_cost
		FROM
			sub_sell
		<where>
			sub_code = #{subCode}
			<if test="search.regitDateStart != null and search.regitDateEnd != null and search.regitDateStart !='' and search.regitDateEnd !=''">
				AND <![CDATA[date(sub_sell_date) >= #{search.regitDateStart} and date(sub_sell_date) <= #{search.regitDateEnd}]]>  
			</if>
			<if test="search.searchKey != null and search.searchKey != '' and search.search != null and search.search != ''">
					AND  ${search.searchKey} like CONCAT('%',#{search.search},'%') 
			</if>
			
		</where>
		<if test="search.criteria == null and search.criteria == '' and search.upDown == null and search.upDown == ''">
			order by sub_sell_date desc
		</if>
		<if test="search.criteria != null and search.upDown != null and search.criteria != null and search.upDown != ''">
			order by ${search.criteria} ${search.upDown}
		</if>
		LIMIT 0,${search.viewMore}
	
	</select>
	
	
	
	<!-- 가맹 판매 마감처리 -->
	<update id="subSellFinals"
			parameterType="com.cafe24.seoje1004.subSell.model.SubSell">
		UPDATE	
			sub_sell
		SET	
			sub_sell_final = "Y",
			sub_sell_final_date = NOW()
		WHERE
			sub_sell_code = #{subSellCode}
	</update>
	
	<!-- 해당 SubSellCode에 해당하는 subSell행을 가져오자 -->
	<select id="selectSubSellBySubSellCode"
			parameterType="java.lang.String"
			resultMap="subSellResultMap">
		SELECT
			sub_sell_code
			,menu_code
			,sub_sell_group
			,sub_sell_date
			,sub_sell_practical_selling_price
			,total_account_group
			,sub_sell_final
			,sub_sell_final_date
			,pay_method
			,sub_code
			,event_code
			,sub_staff_code
			,sub_sell_final_staff
			,sub_sell_cost
		FROM
			sub_sell
		WHERE
			sub_sell_code = #{subSellCode}
	</select>
	
	<!-- 회계테이블에 insert -->
	<insert id="subSellAccount"
			parameterType="java.util.Map">
		<selectKey resultType="hashmap" keyProperty="subAccountCode" order="BEFORE">
				select if(isnull(sub_account_code),'sub_account_code1', concat('sub_account_code', MAX(CONVERT(SUBSTRING(sub_account_code,17), UNSIGNED))+1)) 
				as subAccountCode
				from sub_account
		</selectKey>
			
			
			INSERT INTO sub_account
			(sub_account_code, 
			sub_account_flow, 
			total_account_group, 
			sub_account_price,
			sub_account_request_date, 
			sub_account_detail, 
			subject_code, 
			sub_code 
			)
			
			VALUES(
			#{subAccountCode}
			,#{addSharedSubAccount.subAccountFlow}
			,#{addSharedSubAccount.totalAccountGroup}
			,#{addSharedSubAccount.subAccountPrice}
			,NOW()
			,#{addSharedSubAccount.subAccountDetail}
			,#{addSharedSubAccount.subjectCode}
			,#{addSharedSubAccount.subCode}
			
			
			)
	</insert>
	
	<!-- 메뉴리스트를 가져오자 -->
	<select id="viewMenuList"
			resultType="com.cafe24.seoje1004.menu.model.Menu">
		SELECT 
			m.menu_code as menuCode,
			m.menu_name as menuName,
			m.menu_ingre_price as menuIngrePrice,
			m.menu_selling_price as menuSellingPrice,
			m.menu_regit_date as menuRegitDate,
			m.event_code as eventCode,
			m.head_staff_id as headStaffId ,
			e.event_discount_rate as eventDiscountRate,
			e.event_name as eventName
		FROM 
			menu m inner join event e
			
			ON m.event_code = e.event_code
	</select>
	
</mapper>