<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.seoje1004.orders.repository.OrdersMapper">
<resultMap type="com.cafe24.seoje1004.orders.model.Orders" id="ordersResultMap">
	<id property="ordersCode" column="orders_code"/>
	<result property="subOrdersGroup" column="sub_orders_group"/>
	<result property="subOrdersQuantity" column="sub_orders_quantity"/>
	<result property="subOrdersDate" column="sub_orders_date"/>
	<result property="subOrdersHeadCheck" column="sub_orders_head_check"/>
	<result property="subOrdersStatus" column="sub_orders_status"/>
	<result property="totalAccountGroup" column="total_account_group"/>
	<result property="ordersPay" column="orders_pay"/>
	<result property="ordersPayDate" column="orders_pay_date"/>
	<result property="headItemCode" column="head_item_code"/>
	<result property="subCode" column="sub_code"/>
	<result property="subStaffCode" column="sub_staff_code"/>
	<result property="headStaffId" column="head_staff_id"/>
	<result property="headOrdersConfirm" column="head_orders_confirm"/>
</resultMap>

<!-- 장바구니에서 체크된 cartList 정보확인 select -->
	<select id="viewOrdersInCart"
			parameterType="java.util.Map"
			resultType="com.cafe24.seoje1004.cart.model.CartDetail">
	select
		c.h_item_code hItemCode,
		c.cart_code cartCode,
		c.cart_quantity cartQuantity,
		c.sub_code subCode,
		h.h_item_name hItemName,
		h.h_item_selling_price hItemSellingPrice
	from	
		cart c inner join head_item h
	on
		h.h_item_code = c.h_item_code
	where
		cart_code = #{cartDetail.cartCode}
	</select>
</mapper>