<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.seoje1004.subject.repository.SubjectMapper">
	<resultMap type="com.cafe24.seoje1004.subject.model.Subject" id="subjectResultMap">
		<id property="subjectCode" column="subject_code"/>
		<result property="subjectName" column="subject_name"/>
		<result property="subjectContent" column="subject_content"/>	
		<result property="subjectRegitDate" column="subject_regit_date"/>	
	</resultMap>

	<!-- 계정과목리스트 불러오기 -->
	<select id="viewSubject"
			resultMap="subjectResultMap"
			parameterType="java.util.Map">
		select
			subject_code,
			subject_name,
			subject_content,
			subject_regit_date
		from
			subject
		<where>
			<if test="subjectSearch.regitDateStart != null and subjectSearch.regitDateEnd != null and subjectSearch.regitDateStart !='' and subjectSearch.regitDateEnd !=''">
				<![CDATA[date(subject_regit_date) >= #{subjectSearch.regitDateStart} and date(subject_regit_date) <= #{subjectSearch.regitDateEnd}]]> AND
			</if>
			<if test="subjectSearch.searchKey != null and subjectSearch.searchKey != '' and subjectSearch.search!= null and subjectSearch.search != ''">
				${subjectSearch.searchKey} like CONCAT('%',#{subjectSearch.search},'%') 
			</if>
		</where>
			<if test="subjectSearch.criteria == null and subjectSearch.upDown == null">
				order by subject_regit_date desc
			</if>
			<if test="subjectSearch.criteria != null and subjectSearch.upDown != null and subjectSearch.criteria != null and subjectSearch.upDown != ''">
				order by ${subjectSearch.criteria} ${subjectSearch.upDown}
			</if>
	</select>
	
	<insert id="add"
		parameterType="java.util.Map">
		<selectKey resultType="hashmap" keyProperty="specificItemCode" order="BEFORE">
			select if(isnull(specific_item_code),'specific_item_code100', concat('specific_item_code', MAX(CONVERT(SUBSTRING(specific_item_code,19), UNSIGNED))+1)) as specificItemCode
			from specific_item
		</selectKey>
		INSERT INTO specific_item
		(specific_item_code, 
		specific_item_date, 
		specific_item_in, 
		specific_item_expiry_date, 
		head_item_code, 
		head_staff_registration)
		VALUES 
		(#{specificItemCode}, 
		NOW(), 
		NOW(), 
		'2016-10-09 20:07:50', 
		#{specificItem.headItemCode}, 
		#{specificItem.headStaffRegistration})
	</insert>
</mapper>